header {
    display: inline-grid;
    width: 100%;
}

.container-fluid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    background-color: #29304e;
    height: 150px;
    width: auto;
}

.container-fluid .navbar-brand {
    color: #ff7722;
    padding: 10px;
    font-size: 62px;
}

.container-fluid .navbar-brand:hover {
    color: white;
}

.container-fluid .d-flex {
    margin-left: 100px;
}

.container-fluid .location {
    justify-items: right;
    height: 150px;
    width: auto;
    margin-left: 400px;
}

.container-fluid .hamburger > div {
    background-color: white;
    width: 35px;
    height: 5px;
    margin: 6px 0;
}

.container-fluid .hamburger {
    justify-items: right;
    margin-left: 50px;
    margin-right: 10px;
}

.container-fluid .profile {
    justify-items: right;
    height: 50px;
    width: auto;
}

.navbar-collapse {
    flex-grow: 0;
}

.navbar-nav {
    float: right;
    align-items: center;
}

#nav-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
  }

.navbar-background {
  display: flex;
  background-color: rgb(173, 205, 216);
  align-items: center;
  /* height: 75px; */
}

.nav-list {
  display: flex;
  justify-content: center;
}

.nav-items:hover {
color: white;

}

.nav-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: auto;
  margin: 0 45px;
  font-size: 18px;
  font-weight: bold;
}

.container .col {
    padding: 10px;
}

.container .posts .events {
    height: auto;
}